.navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    position: relative;
    background-color: var(--white);
    border: 1px none;
    width: 100%;
    min-width: 1262px;
    min-height: 72px;
  }
  
  .navi .icon-logo {
    position: relative;
    width: 114.37px;
    height: 19px;
  }
  
  .navi .items {
    display: inline-flex;
    align-items: center;
    gap: 48px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .navi .oferta {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .navi .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 14px;
    letter-spacing: -0.14px;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .navi .icon-nav {
    position: relative;
    width: 12px;
    height: 12px;
  }
  
  .navi .div {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--black);
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.14px;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .navi .icon-search {
    position: relative;
    width: 24px;
    height: 24px;
  }
  